{% extends 'base.html' %}

{% load tagsfilter %}
{% block content %}

<script language="javascript" type="text/javascript" src="/misc/js/prettify.js"></script>
<script language="javascript" type="text/javascript" src="/misc/js/jquerynew.js"></script>
 <script language="javascript" type="text/javascript" src="/misc/js/bootstrap-datepicker.js"></script>
 <link href="/misc/css/datepicker.css" rel="stylesheet">
<script>
$(function(){
	window.prettyPrint && prettyPrint();
   $('#dp2').datepicker({
				format: 'yyyy-mm-dd'
			});
   $('#dp3').datepicker({
				format: 'yyyy-mm-dd'
			});
   $('#dp4').datepicker({
				format: 'yyyy-mm-dd'
			});
});
 </script>
<div class="container"> 
<h3 class="title-divider"><span>Add Task</span> <small>Provide valid details </small></h3>
{% if mattertasks|length > 0 %}
 <div class="span5 "> 
  
 <table class="table table-bordered">
          <thead>
            <tr>
               
              <th>Subject</th>
              
              <th>Due Date</th>
			   
			  <th>Actions</th>
            </tr>
          </thead>
          <tbody>
		  {% for item in mattertasks %}
            <tr>
               
              <td>{{item.mattertasks_subject}}</td>
			   <td>{{item.mattertasks_duedate}}</td>
 
				<td><a href="/editaskform?tid={{item.mattertasks_pk}}"><button class="btn btn-mini" type="button">Edit</button></a> <a href="/matteractions?tid={{item.mattertasks_pk}}&action=deltaskid" onclick="javascript: return confirm('Are you sure you want to delete this item ?');"><button class="btn btn-small btn-danger" type="button">Delete</button></a></td>
            </tr>
			 {%empty%}
			 <tr><td colspan=9><div class="alert alert-error">
         
          <h4>No Records Found!</h4>
          Try searching with different keyword!!! </div></td></tr>
			{%endfor%}
           
          </tbody>
        </table> </div>
 <br>&nbsp;
{%endif%}
<form  id="AddressForm" name="AddressForm" method="post" action="/matteractions">
{% csrf_token %} <input type=hidden name="action" value="maddtask"><input type=hidden name="mattertasks_matterpk" value="{{mid}}">
 
<div class="container-fluid">
     <div class="row-fluid">
 </div>
		<div class="span4 form-wrapper" style="padding:20px !important">
				<fieldset>
					
					<label>Subject</label><input type="text" name="mattertasks_subject" class="controls" />  </label>
					<label>Text</label><textarea placeholder="Text" name="mattertasks_text" class="input-block-level placeholder" rows="8" style="width: 224px; height: 60px;"></textarea> </label>
					<label>Date Created</label><input type="text" name="mattertasks_datecreated" id="dp3" />   </label>
					<label>Due Date</label><input type="text" name="mattertasks_duedate" id="dp2" />   </label>
 
					   <label>Staff Assigned 1 </label>
					<select name="mattertasks_assignedstaff1pk" >
						  {% for item in callstaff %}
							 
							<option value="{{item.staff_pk}}">{{item.staff_stafffullname}}</option>
						   
						  {%endfor%}
					  </select>   </label>

					   <label>Staff Assigned 2 </label>
					<select name="mattertasks_assignedstaff2pk" >
						  {% for item in callstaff %}
							 
							<option value="{{item.staff_pk}}">{{item.staff_stafffullname}}</option>
						   
						  {%endfor%}
					  </select>   </label>
					  
					  <label><button type="submit" class="btn">Submit</button>
				</fieldset>
			
		</div>
		 
		 
	</div>
  </div>     
  </div>
  </form>
{% endblock %}
