{% extends 'base.html' %}

{% load tagsfilter %}
{% block content %}

<script language="javascript" type="text/javascript" src="/misc/js/prettify.js"></script>
<script language="javascript" type="text/javascript" src="/misc/js/jquerynew.js"></script>
 <script language="javascript" type="text/javascript" src="/misc/js/bootstrap-datepicker.js"></script>
 <link href="/misc/css/datepicker.css" rel="stylesheet">
<script>
$(function(){
	window.prettyPrint && prettyPrint();
   $('#dp2').datepicker({
				format: 'yyyy-mm-dd'
			});
   $('#dp3').datepicker({
				format: 'yyyy-mm-dd'
			});
   $('#dp4').datepicker({
				format: 'yyyy-mm-dd'
			});
});
 </script>
<div class="container"> 
<h3 class="title-divider"><span>Edit Matter</span> <small>Provide valid details </small></h3>
<form  id="AddressForm" name="AddressForm" method="post" action="/matteractions">
{% csrf_token %} <input type=hidden name="action" value="matteredit"><input type=hidden name="mid" value="{{mid}}">
<div class="container-fluid">
     <div class="row-fluid">
 </div>
		<div class="span4 form-wrapper" style="padding:20px !important">
				<fieldset>
					
					<label>Matter Id</label><input type="text" name="matters_matterid" class="controls" value="{{matterinfo.matters_matterid}}" />  </label>
					
					 <label>Primary Attorney</label>
					<select name="matters_primaryattorney" >
						  {% for item in callstaff %}
							{% if matterinfo.matters_primaryattorney == item.staff_pk %}
							<option value="{{item.staff_pk}}" selected>{{item.staff_stafffullname}}</option>
						  {% else %}
							<option value="{{item.staff_pk}}">{{item.staff_stafffullname}}</option>
						  {% endif %}
						  {%endfor%}
					  </select>   </label>
					  <label>Support Attorney 1 </label>
					<select name="matters_supportattorney1" >
						  {% for item in callstaff %}
							{% if matterinfo.matters_supportattorney1 == item.staff_pk %}
							<option value="{{item.staff_pk}}" selected>{{item.staff_stafffullname}}</option>
						  {% else %}
							<option value="{{item.staff_pk}}">{{item.staff_stafffullname}}</option>
						  {% endif %}
						  {%endfor%}
					  </select>   </label>
					  <label>Support Attorney 2</label>
					<select name="matters_supportattorney2" >
						  {% for item in callstaff %}
						  {% if matterinfo.matters_supportattorney2 == item.staff_pk %}
							<option value="{{item.staff_pk}}" selected>{{item.staff_stafffullname}}</option>
						  {% else %}
							<option value="{{item.staff_pk}}">{{item.staff_stafffullname}}</option>
						  {% endif %}
							
						  {%endfor%}
					  </select>   </label>  
					  <label>Date Opened</label><input type="text" name="matters_dateopened" id="dp2" value={{matterinfo.matters_dateopened|date:"Y-m-j"}} />   </label>
					  <label>Date Closed</label><input type="text" name="matters_dateclosed" id="dp3" value="{{matterinfo.matters_dateclosed|date:"Y-m-j"}}" />  </label>
					  <label>Case Closed</label><input type="text" name="matters_caseclosed" id="dp4" value="{{matterinfo.matters_caseclosed|date:"Y-m-j"}}" />  </label>
					  <label>Matter Type</label>
					<select name="matters_mattertype" >
						  {% for item in mattertype %}
						   {% if matterinfo.matters_mattertype == item.mattertype_pk %}
							<option value="{{item.mattertype_pk}}" selected>{{item.mattertype_desc}}</option>
						  {% else %}
							<option value="{{item.mattertype_pk}}">{{item.mattertype_desc}}</option>
						  {% endif %}
							
						  {%endfor%}
					  </select>   </label>
					  <label>Billing Type {{matterinfo.matters_billingtype}}</label>
					<select name="matters_billingtype" >
						  {% for item in billingtype %}
						  {% if matterinfo.matters_billingtype == item.billingtype_pk %}
							<option value="{{item.billingtype_pk}}" selected>{{item.billingtype_desc}}</option>
						  {% else %}
							<option value="{{item.billingtype_pk}}">{{item.billingtype_desc}}</option>
						  {% endif %}
						  {%endfor%}
					  </select>   </label>
					  
					  <label><button type="submit" class="btn">Submit</button>
				</fieldset>
			
		</div>
		 
		 
	</div>
  </div>     
  </div>
  </form>
{% endblock %}
