{% extends 'base.html' %}

{% load tagsfilter %}
{% block content %}
<script src="/misc/js/jquery.js"></script> 
 <script>
$(document).ready(function(){
  $("#searchcontacts").click(function(){
	$("form:has(.placeholder)").live("submit", function(e){
		  $(this).find(".placeholder").val("");
		});
  });

   $("#searchcontacts").click(function(){
	$("form:has(.placeholder)").live("submit", function(e){
		  $(this).find(".placeholder").val("");
		});
  });

 });
 </script>
 <style>
 select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 163px;
}
</style>
<div class="container"><form  id="AddressForm" name="AddressForm" method="get" action="/viewmatters">
<h3 class="title-divider"><span>View Matters</span> <small>Search by Contact using First Name, Last Name, Company Name or Telephone Number. </small></h3>
		<div class="row-fluid"> 
        <!-- Plan features -->
        <div class="well well-mini ">  <div class="input-append" style="margin-bottom:1px !important;">
		
                   <input type="text" class="input-small" name="cname" id=cname placeholder="Contact Name" style="margin-right:10px;">  &nbsp;&nbsp; 
                  <select name="matters_mattertype" >
					  <option>Matter Type</option>
					  {% for item in mattertype %}
							<option value="{{item.callaction_pk}}">{{item.mattertype_desc}}</option>
						  {%endfor%}
			      </select>&nbsp;&nbsp;
				  <select name="matters_billingtype" >
					  <option>Billing Type</option>
					  {% for item in billingtype %}
							<option value="{{item.callsource_pk}}">{{item.billingtype_desc}}</option>
						  {%endfor%}
			      </select>
              <button class="btn btn-info" type="submit" id="searchcontacts">Find Matters</button>
			  
            </div>
         </div>
      </div></form>
       <!--Content Area-->
      <div class="span11 form-wrapper"> <table class="table table-bordered">
          <thead>
            <tr>
              <th>Matter #</th>
              <th>Contact Name</th>
              
              <th>Primary attorney</th>
			  <th>Support attorney</th>
			  <th>Matter Type</th>
			  <th>Billing Type</th>
			  <th>Case Closed</th>
			  <th>Actions</th>
            </tr>
          </thead>
          <tbody>
		  {% for item in allitems %}
            <tr>
              <td ><a href="/vcallinfo?cid={{item.matters_matterid}}"> {{item.matters_matterid}}</a></td>
              <td><a href="/vcontactinfo?cid={{item.matters_clientid1}}">{{item.matters_clientid1|contactsvalue}}</a></td>
			  <td> {{item.matters_primaryattorney|staffvalues}} </td>
			  <td> {{item.matters_supportattorney1|staffvalues}} </td>
			  <td>{{item.matters_mattertype|matterttpeval}}</td>
			  <td>{{item.matters_billingtype|billingtpeval}}</td>
			   <td>{{item.matters_caseclosed|date:"F j, Y"}}</td>
				<td><a href=""><button class="btn btn-mini" type="button">Edit</button></a> <a href="/payadd?mid={{item.contact_pk}}"><button class="btn btn-info" type="button">Add Payment</button></a>{%comment%}<a href="/callactions?cid={{item.calls_pk}}&action=delcallid" onclick="javascript: return confirm('Are you sure you want to delete this item ?');"><button class="btn btn-small btn-danger" type="button">Delete</button></a>{%endcomment%}</td>
            </tr>
			 {%empty%}
			 <tr><td colspan=9><div class="alert alert-error">
         
          <h4>No Records Found!</h4>
          Try searching with different keyword!!! </div></td></tr>
			{%endfor%}
           
          </tbody>
        </table> </div>
   </div>
{% endblock %}
