{% extends 'base.html' %}

{% load tagsfilter %}
{% block content %}

<script language="javascript" type="text/javascript" src="/misc/js/prettify.js"></script>
<script language="javascript" type="text/javascript" src="/misc/js/jquerynew.js"></script>
 <script language="javascript" type="text/javascript" src="/misc/js/bootstrap-datepicker.js"></script>
 <link href="/misc/css/datepicker.css" rel="stylesheet">
<script>
$(function(){
	window.prettyPrint && prettyPrint();
   $('#dp2').datepicker({
				format: 'yyyy-mm-dd'
			});
   $('#dp3').datepicker({
				format: 'yyyy-mm-dd'
			});
   $('#dp4').datepicker({
				format: 'yyyy-mm-dd'
			});
});
 </script>
<div class="container"> 
<h3 class="title-divider"><span>View Matter</span> <small><a href="/fmemo?mid={{mid}}">Fact Memo</a> | <a href="/fpays?mid={{mid}}">Payments</a> | <a href="/fconrs?mid={{mid}}">Contact Record</a> | <a href="/fcascon?mid={{mid}}">Case Contacts</a></small></h3>
 {% csrf_token %} <input type=hidden name="action" value="matteredit"><input type=hidden name="mid" value="{{mid}}">
<div class="container-fluid">
     <div class="row-fluid">
 </div>
		<div class="span6 form-wrapper" style="padding:20px !important">
		<table border=1><tr><td align=right colspan=2><a href="/editmatter?mid={{mid}}"> Edit</a></td></tr><tr><td width=350>
		<table>
				<fieldset>
				<tr><td>	
					<label><b>Matter Id</b></td><td>  {{matterinfo.matters_matterid}} </label> </td></tr>
					
					 <tr><td><label><b>Primary Attorney</b></label> </td><td>
					 
						  {% for item in callstaff %}
								{% if matterinfo.matters_primaryattorney == item.staff_pk %}
									{{item.staff_stafffullname}} 
							  {% endif %}
						  {%endfor%}
					     </label></td></tr>
					 <tr><td> <label><b>Support Attorney 1</b> </label></td><td>
					 
						  {% for item in callstaff %}
								{% if matterinfo.matters_supportattorney1 == item.staff_pk %}
								 {{item.staff_stafffullname}} 
							   
							  {% endif %}
						  {%endfor%}
					   </label></td></tr>
					  <tr><td><label><b>Support Attorney 2</b></label></td><td>
					 
						  {% for item in callstaff %}
						  {% if matterinfo.matters_supportattorney2 == item.staff_pk %}
							 {{item.staff_stafffullname}} 
						   
						  {% endif %}
							
						  {%endfor%}
					  </select>   </label>  </td></tr>
					  <tr><td><label><b>Date Opened</b></label></td><td> {{matterinfo.matters_dateopened|date:"Y-m-j"}} </td></tr></table></td><td  width=350><table>
					 <tr><td> <label><b>Date Closed</b></label></td><td> {{matterinfo.matters_dateclosed|date:"Y-m-j"}} </td></tr>
					 <tr><td> <label><b>Case Closed</b></label></td><td> {{matterinfo.matters_caseclosed|date:"Y-m-j"}} </td></tr>
					  <tr><td><label><b>Matter Type</b></label></td><td>
					 
						  {% for item in mattertype %}
							   {% if matterinfo.matters_mattertype == item.mattertype_pk %}
								 {{item.mattertype_desc}} 
							   
							  {% endif %}
							
						  {%endfor%}
					     </label></td></tr>
					 <tr><td> <label><b>Billing Type</b> </label></td><td>
					 
						  {% for item in billingtype %}
						  {% if matterinfo.matters_billingtype == item.billingtype_pk %}
							 {{item.billingtype_desc}} 
 						  {% endif %}
						  {%endfor%}
					      </label></td></tr>
				<tr><td >&nbsp;</td><td>	</td></tr>  
					   
</table></td></tr>
					  
					   
</table>
				</fieldset>
			
		</div>
		 
		 <div class="span6 form-wrapper" style="padding:20px !important">
         <span class="label label-large btn-info">Case Notes</span> 
        
         <table class="table table-bordered">
          <thead>
            <tr>
               
              <th>Subject</th>
              
              <th>Date</th>
			   
			  <th>Actions</th>
            </tr>
          </thead>
          <tbody>
		  {% for item in viewcases %}
            <tr>
               
              <td>{{item.casenotes_notesubject}}</td>
			   <td>{{item.casenotes_notedate}}</td>
 
				<td><a href="/edicaseform?pid={{item.casenotes_pk}}"><button class="btn btn-mini" type="button">Edit</button></a> <a href="/matteractions?pid={{item.casenotes_pk}}&action=delcaseid" onclick="javascript: return confirm('Are you sure you want to delete this item ?');"><button class="btn btn-small btn-danger" type="button">Delete</button></a></td>
            </tr>
			 {%empty%}
			 <tr><td colspan=9><div class="alert alert-error">
         
          <h4>No Records Found!</h4>
         Click <a href="/addcase?mid={{mid}}"> Here</a> to Add Case Note </div></td></tr>
			{%endfor%}
           
          </tbody>
        </table>
        
      </div>
	  <div class="span6 form-wrapper" style="padding:20px !important">
         <span class="label label-large btn-info">Matter Tasks</span> 
        
          <table class="table table-bordered">
          <thead>
            <tr>
               
              <th>Subject</th>
              
              <th>Due Date</th>
			   
			  <th>Actions</th>
            </tr>
          </thead>
          <tbody>
		  {% for item in mattertasks %}
            <tr>
               
              <td>{{item.mattertasks_subject}}</td>
			   <td>{{item.mattertasks_duedate}}</td>
 
				<td><a href="/editaskform?tid={{item.mattertasks_pk}}"><button class="btn btn-mini" type="button">Edit</button></a> <a href="/matteractions?tid={{item.mattertasks_pk}}&action=deltaskid" onclick="javascript: return confirm('Are you sure you want to delete this item ?');"><button class="btn btn-small btn-danger" type="button">Delete</button></a></td>
            </tr>
			 {%empty%}
			 <tr><td colspan=9><div class="alert alert-error">
         
          <h4>No Records Found!</h4>
          Click <a href="/viewtasks?mid={{mid}}"> Here</a> to add a task </div></td></tr>
			{%endfor%}
           
          </tbody>
        </table>
        
      </div>
	</div>
  </div>     
  </div>
  </form>
{% endblock %}
